{
  "openapi": "3.1.0",
  "info": {
    "version": "8.0.0",
    "title": "CanYouGrab API",
    "description": "Domain availability API with confidence scoring, parking detection, and hosting provider identification."
  },
  "servers": [
    {
      "url": "https://api.canyougrab.it"
    }
  ],
  "paths": {
    "/api/check/bulk": {
      "post": {
        "summary": "Bulk Domain Check",
        "description": "Check availability of up to 100 domains. Returns confidence scores, nameservers, parking detection, and hosting provider for each domain. Long-poll: connection stays open until all results are ready (max 45s).",
        "operationId": "bulk-domain-check",
        "parameters": [
          {
            "name": "verbose",
            "in": "query",
            "required": false,
            "schema": { "type": "boolean", "default": false },
            "description": "Include job-level timing metadata in the response."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["domains"],
                "properties": {
                  "domains": {
                    "type": "array",
                    "items": { "type": "string" },
                    "maxItems": 100,
                    "description": "Domain names to check",
                    "example": ["google.com", "my-cool-startup.io", "example.xyz"]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain availability results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "domain": {
                            "type": "string",
                            "description": "The domain name checked"
                          },
                          "available": {
                            "type": ["boolean", "null"],
                            "description": "true = available, false = registered, null = undetermined"
                          },
                          "confidence": {
                            "type": "string",
                            "enum": ["high", "medium", "low"],
                            "description": "high = verified via RDAP/WHOIS or DNS. medium = DNS-only. low = lookup failure."
                          },
                          "tld": {
                            "type": "string",
                            "description": "Top-level domain"
                          },
                          "source": {
                            "type": "string",
                            "enum": ["cache", "bloom", "dns", "rdap", "whois", "registry"],
                            "description": "Data source. registry = brand TLD (closed for public registration)."
                          },
                          "checked_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When this data was gathered"
                          },
                          "cache_age_seconds": {
                            "type": "integer",
                            "description": "Seconds since original lookup. 0 = fresh."
                          },
                          "dns_status": {
                            "type": "string",
                            "enum": ["noerror_ns", "nxdomain", "noanswer", "timeout"],
                            "description": "Raw DNS result. Only present on fresh lookups."
                          },
                          "nameservers": {
                            "type": ["array", "null"],
                            "items": { "type": "string" },
                            "description": "Authoritative nameservers for registered domains."
                          },
                          "parked": {
                            "type": "boolean",
                            "description": "true if nameservers match a known parking service."
                          },
                          "hosting_provider": {
                            "type": ["string", "null"],
                            "description": "Detected DNS provider (e.g. Cloudflare, AWS Route 53, Google, Sedo)."
                          },
                          "domain_age_days": {
                            "type": ["integer", "null"],
                            "description": "Days since registration. null if unavailable."
                          },
                          "expires_in_days": {
                            "type": ["integer", "null"],
                            "description": "Days until expiration. Negative if expired. null if unavailable."
                          },
                          "registration": {
                            "type": ["object", "null"],
                            "description": "WHOIS registration details. null if unavailable.",
                            "properties": {
                              "registrar": { "type": ["string", "null"] },
                              "created_at": { "type": ["string", "null"], "format": "date-time" },
                              "expires_at": { "type": ["string", "null"], "format": "date-time" },
                              "updated_at": { "type": ["string", "null"], "format": "date-time" },
                              "name_servers": { "type": ["array", "null"], "items": { "type": "string" } }
                            }
                          },
                          "error": {
                            "type": "string",
                            "description": "Error code when available is null (dns_servfail, dns_timeout, brand_tld)."
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "mixed_results": {
                    "summary": "Registered, available, parked, and brand TLD",
                    "value": {
                      "results": [
                        {
                          "domain": "google.com",
                          "available": false,
                          "confidence": "high",
                          "tld": "com",
                          "source": "cache",
                          "checked_at": "2026-03-27T19:33:14Z",
                          "cache_age_seconds": 15239,
                          "nameservers": ["ns1.google.com", "ns2.google.com", "ns3.google.com", "ns4.google.com"],
                          "parked": false,
                          "hosting_provider": "Google",
                          "domain_age_days": null,
                          "expires_in_days": null,
                          "registration": null
                        },
                        {
                          "domain": "my-cool-startup.com",
                          "available": true,
                          "confidence": "high",
                          "tld": "com",
                          "source": "rdap",
                          "checked_at": "2026-03-27T23:47:13Z",
                          "cache_age_seconds": 0,
                          "parked": false,
                          "hosting_provider": null,
                          "domain_age_days": null,
                          "expires_in_days": null,
                          "registration": null
                        },
                        {
                          "domain": "parked-domain.com",
                          "available": false,
                          "confidence": "high",
                          "tld": "com",
                          "source": "dns",
                          "checked_at": "2026-03-27T23:39:34Z",
                          "cache_age_seconds": 0,
                          "dns_status": "noerror_ns",
                          "nameservers": ["ns1.sedoparking.com", "ns2.sedoparking.com"],
                          "parked": true,
                          "hosting_provider": "Sedo",
                          "domain_age_days": null,
                          "expires_in_days": null,
                          "registration": null
                        },
                        {
                          "domain": "brandname.nike",
                          "available": null,
                          "confidence": "high",
                          "tld": "nike",
                          "source": "registry",
                          "checked_at": "2026-03-27T23:47:13Z",
                          "cache_age_seconds": 0,
                          "error": "brand_tld",
                          "parked": false,
                          "hosting_provider": null,
                          "domain_age_days": null,
                          "expires_in_days": null,
                          "registration": null
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": { "description": "Invalid request" },
          "401": { "description": "Missing or invalid API key" },
          "403": { "description": "Terms of Service not accepted" },
          "429": { "description": "Rate limit exceeded" },
          "504": { "description": "Processing timeout (45s). Retry the request." }
        },
        "security": [{ "apiKey": [] }]
      }
    },
    "/api/account/usage": {
      "get": {
        "summary": "Usage Summary",
        "description": "Current billing period usage for the authenticated consumer.",
        "operationId": "get-usage",
        "responses": {
          "200": {
            "description": "Usage summary",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "plan": { "type": "string", "enum": ["free", "free_plus", "basic", "pro", "business"] },
                    "monthly_limit": { "type": "integer" },
                    "lookups_used": { "type": "integer" },
                    "lookups_remaining": { "type": "integer" },
                    "period_start": { "type": "string", "format": "date-time" },
                    "period_end": { "type": "string", "format": "date-time" }
                  }
                }
              }
            }
          },
          "401": { "description": "Missing or invalid API key" },
          "403": { "description": "Terms of Service not accepted" }
        },
        "security": [{ "apiKey": [] }]
      }
    },
    "/health": {
      "get": {
        "summary": "Health Check",
        "description": "API health status. No authentication required.",
        "operationId": "health-check",
        "responses": {
          "200": { "description": "Healthy" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer API key. Create keys at https://portal.canyougrab.it/api-keys"
      }
    }
  }
}
