[Unit]
Description=Redis/Valkey Prometheus Exporter
After=network.target

[Service]
Type=simple
User=redis_exporter
EnvironmentFile=/etc/canyougrab/env
ExecStart=/opt/redis_exporter/redis_exporter \
    --redis.addr=rediss://${VALKEY_USERNAME}:${VALKEY_PASSWORD}@${VALKEY_HOST}:${VALKEY_PORT} \
    --check-keys=rq:queue:*
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
